:root {
  font-family: 'Tahoma', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--ds-primaryBg);
  color: var(--ds-primaryText);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--ds-primaryBg);
  color: var(--ds-primaryText);
}

a {
  color: var(--ds-infoText);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--ds-fieldBorderFocus);
  text-decoration: underline;
}

ol {
  padding-left: 20px;
}
